<main id="page-content" class="wrap container">

         <div id="banner" class="jumbotron row">
            <h1>All Products</h1>
         </div>
         <section id="shop" class="page-section row">
            <!--<div class="col-xs-12 col-sm-3">
               <div class="sidebar">
                  <h4>Categories</h4>
                  <ul class="list-unstyled  categories-group ">
                     <li>
                        <a href="#" class=""><span class="badge">4</span>Headphones</a>
                     </li>
                     <li>
                        <a href="#" class=""><span class="badge">4</span>Portable Speakers</a>
                     </li>
                     <li>
                        <a href="#" class=""><span class="badge">4</span>Wearable Tech</a>
                     </li>
                  </ul>
               </div>
            </div>
           -->
            <div class="col-xs-12 col-sm-9">
               <div id="product-list">
                  <div class="product-grid">
                     <div id="" class="row" style="position: relative; height: 372.109px;">



                        <div class="col-xs-12 col-sm-6 col-md-4 product-holder">
                           <form class="custom" onsubmit="return false" method="post" action="#">
                              <div class="product-item text-center">
                                 <a class="product-img" href="details2.html">
                                 <img class="img-responsive" src="img/BlueJawbone_400x300-jpg-keep-ratio.png" alt="Blue Wristband Tracker">
                                 </a>
                                 <h3 class="product-title">
                                    <a href="details2.html">Blue Wristband Tracker</a>
                                 </h3>
                                 <div class="h4 product-price">
                                    <span>$129.00</span>
                                 </div>
                                 <div class="buttons-holder">
                                    <a class="btn btn-default btn-quick-view hidden-xs" rel="tooltip" title="" href="details2.html" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                    <input type="hidden" name="productId" value="15">
                                    <a class="btn btn-danger btn-add-cart" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart, #navbar-totals=shop-minicart-totals, #product-page=shop-product">Add to Cart</a>
                                 </div>
                              </div>
                           </form>
                        </div>



                     </div>
                  </div>
               </div>
            </div>
         </section>

      </main>